.wrapper{
    position: relative;
    flex: 1;
    width: 100%;
}
.input{
    height: 40px;
    background-color: #f9fafb;
    border: 1px solid #d1d5db;
    border-radius: 10px;
    padding: 5px 10px;
}