.pagination{
    list-style-type: none;
    display: flex;
    justify-content: center;
    border-radius: 6px;
    padding: 0;
    width: fit-content;
    margin: 0 auto;
}
.control{
    padding: 10px;
    min-width: 40px;
    margin: 0;
    border: 1px solid #dfdfdf;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #000;
    background-color: #fff;
}