.filter_ksnb_1_0_0 {
  padding: 30px 0;
}
.filter_ksnb_1_0_0__center {
  display: flex;
}
.filter_ksnb_1_0_0__aside {
  width: 40%;
  padding-right: 15px;
}
.filter_ksnb_1_0_0__main {
  flex: 1 auto;
  padding-left: 15px;
}
.filter_ksnb_1_0_0__filter {
  background-color: #eaf2ff;
  border-radius: 15px;
  padding: 15px;
}
.filter_ksnb_1_0_0__search {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
